<!--<h3>-->
  <!--REPlationship - Face Recognition-->
<!--</h3>-->
<!--<nav>-->
	<!--<a [routerLink]="['/']">-->
    <!--Home-->
  <!--</a>-->
  <!--|-->
  <!--<a [routerLink]="['/search']">-->
    <!--Search-->
  <!--</a>-->
  <!--|-->
	<!--<a [routerLink]="['/about']">-->
    <!--About-->
  <!--</a>-->
  <!--|-->
	<!--<a [routerLink]="['/github', 'angular']">-->
    <!--BitBucket Repos-->
  <!--</a>-->
  <!--|-->
	<!--<a [routerLink]="['/contact']">-->
    <!--Contact Us-->
  <!--</a>-->
<!--</nav>-->

<main>
	<router-outlet></router-outlet>
</main>

